POSTGRES_USER=beta
POSTGRES_PASSWORD=beta
POSTGRES_DB=beta

# DATABASE_URL=postgres://<user>:<password>@localhost:5432/<database>
DATABASE_URL=postgres://beta:beta@localhost:5432/beta
DATABASE_SSL=false

