POSTGRES_USER=beta
POSTGRES_PASSWORD=beta
POSTGRES_DB=beta

# Runtime DB connection for the app container/process
# DATABASE_URL=postgres://<user>:<password>@localhost:5432/<database>
DATABASE_URL=postgres://beta:beta@localhost:5432/beta
DATABASE_SSL=false


LETSENCRYPT_EMAIL=dummy@example.org
APP_HOST=beta-127-0-0-1.nip.io
TRAEFIK_TLS_ENABLED=false